<html>
	<head>
		<title>Angular JS</title>
		<meta charset="UTF-8" />
	</head>
	<body ng-app="app.introducao">

		<h1>Minha aplicação AngularJS</h1>

		<div ng-controller="MeuController">

			<input type="text" ng-model="nome" /><br />
			Olá {{nome}} {{sobrenome}}! Seja bem vindo!

			<button ng-click="exibeNome()">Clique para ver o nome</button>
		</div>


		<div ng-controller="MeuController">

			Olá <input type="text" ng-model="nome" /> {{sobrenome}}! Seja bem vindo!

			<button ng-click="exibeNome()">Clique para ver o nome</button>
		</div>

		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</body>
</html>